.last-section {
  width: 100%;
  height: auto;
  padding: 2.5rem 0;
}

.last-section h2 {
  font-family: "Drify-light", Georgia, sans-serif;
  font-size: 2.2rem;
  line-height: 1.1;
  font-weight: 600;
  margin: 0;
}

.last-section p {
  font-family: "Sweet-sans", Arial, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}

.last-section-row a {
  text-transform: capitalize;
  color: var(--bright-red);
}

.last-section-link a {
  text-transform: uppercase;
  font-family: "Sweet-sans";
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.08em;
}

.last-section-link a:hover {
  color: #ffffff;
  background-color: var(--bright-red);
  transition: 0.5s ease-in-out;
}

.last-section-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-section-row {
  width: 100%;
}

.last-section-link {
  /* in case smth brokes here */
  /* width: 65%; */
  margin: 2rem 0 2rem;
}

.last-section-link a {
  width: 160px;
  height: 40px;
  background-color: var(--light-pink);
  padding: 0.6rem 1rem 0.75rem;
  border-radius: var(--small-border-radius);
}

/* tablets */
@media (min-width: 480px) {
  .last-section h2 {
    font-size: 2.4rem;
  }

  .last-section p {
    font-size: 1.1rem;
  }
}

@media (min-width: 770px) {
  .last-section {
    padding: 0;
  }
  .last-section-container {
    width: 90%;
    
    display: flex;
    flex-direction: row;
    padding: 2rem 0 4rem;

    .last-section-row {
      padding: 0 20px;

      h2 {
        font-size: 4rem;
        font-weight: 600;
      }
      p {
        font-size: 1.25rem;
      }
    }

    .last-section-row:first-of-type {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .last-section-link {
        margin: 2rem 0 1rem;
      }
    }

    .last-section-row:last-of-type {
      width: 100%;

      picture {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 420px;
          object-fit: cover;
        }
      }
    }
  }
}

@media (min-width: 990px) {
  .last-section-container {
    justify-content: space-between;
    padding: 6rem 0;
    

    .last-section-row:first-of-type {
      h2 {
        font-size: 5rem;
      }
    }

    > div {
      flex-basis: 45%;
    }

    .last-section-row:last-of-type {
      padding: 0 20px;
    }
  }
}

@media (min-width:1170px) {

}

@media (min-width: 1470px) {
  .last-section {
    .last-section-container {
      width: 1340px;

      .last-section-row {
        height: 535px;
      }

      .last-section-row:last-of-type {
        picture {
          img {
            margin-top: 4rem;

          }
        }
      }
    }
  }
}


